html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: rgb(75, 1, 1);
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: maroon;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: maroon;
  text-decoration: none;
}

.Button {
  color:rgb(75, 1, 1);
}

#create-tournament-button {
  float: right;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

.type-button {
  height: 120px;
  width: 120px;
  font:x-large;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
My Tournaments Paper
-------------------------------------------------------------------------------- */

#my-tournament-paper {
  margin-top: 20px;
  border-radius: 10px;
}

#my-tournament-name {
  text-align: center;
  background-color: maroon;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  margin: 0;
  padding: 10px;
}

#my-tournament-details {
  padding-left: 20px;
  padding-bottom: 10px;
}

#my-tournaments-header {
  text-align: center;
}

/* --------------------------------------------------------------------------------
Drawer
-------------------------------------------------------------------------------- */

#drawer {
  padding-right: 20px;
  color: white;
  font-size: larger;
}

/* --------------------------------------------------------------------------------
Tournament Form
-------------------------------------------------------------------------------- */

.create-tournament-form, .header {
  text-align: center;
}

.create-tournament-header {
  text-align: center;
  margin-top: 0;
}

.create-tournament-input {
  font-size: x-large;
  text-align: center;
  padding: 5px;
}

.create-tournament-select {
  font-size: x-large;
  text-align: center;
  padding: 5px;
  width: 260px;
  margin: 10px;
}

/* --------------------------------------------------------------------------------
Tables
-------------------------------------------------------------------------------- */

#entrants {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

#entrants td, #entrants th {
  border: 1px solid #ddd;
  padding: 8px;
}

#entrants tr:nth-child(even){background-color: #f2f2f2;}

#entrants tr:hover {background-color: #ddd;}

#entrants th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

/* ---------------------------------------- */

.scores {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.scores td, .scores th {
  border: 1px solid #ddd;
  padding: 10px;
}

.scores tr:nth-child(even){background-color: #f2f2f2;}

.scores tr:hover {background-color: #ddd;}

#th-number {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 5px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

#th-persona {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 200px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

#th-score {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 300px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

#index-table-data {
  padding: 10px;
}

/* #persona-table-data {
  padding: 10px;
} */

#score-counter {
  margin: 10px; 
  text-align: center;
  font-size:x-large;
}

#score-table-data {
  margin: 0px;
  padding: 0px;
}

.score {
  padding: 0px;
}

/* --------------------------------------------------------------------------------
User Page
-------------------------------------------------------------------------------- */

.user-edit-input {
  font-size: x-large;
  width: 200px;
}

